.features {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  margin: 15rem 0;
  @include respond(small) {
    margin: 8rem 0;
  }
  gap: 6rem;
  align-items: start;
}

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  justify-content: end;
  row-gap: 1rem;
  column-gap: 2rem;
  &__icon {
    fill: #c69963;
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1 / 3;
    transform: translateY(-1rem);
  }
  &__content {
    font-size: 1.7rem;
  }
}
