.footer {
  background-color: $color-secondary;
  grid-column: full-start / full-end;
  padding: 6rem;
  .nav {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 2rem;
    align-items: center;
  }
  &__items {
    text-align: center;
    &--links {
      font-family: $font-display;
      color: #fff;
      font-size: 1.3rem;
      text-transform: uppercase;
      text-decoration: none;
      padding: 1rem;
      display: block;
    }
    transition: 0.2s all;
    &:hover,
    &:active {
      background-color: rgba($color: #fff, $alpha: 0.05);
      transform: translateY(-0.5rem);
    }
  }
  &__text {
    font-family: $font-primary;
    text-transform: uppercase;
    color: $color-grey-light-2;
    font-size: 1.5rem;
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-top: 6rem;
  }
}
