%heading {
  font-family: $font-display;
  font-weight: 400;
}

.heading {
  &__1 {
    @extend %heading;
    font-size: 4.5rem;
    color: #fff;
    line-height: 1;
  }
  &__2 {
    @extend %heading;
    &--dark {
      color: $color-grey-dark-1;
    }
    font-size: 4rem;
    font-style: italic;
    line-height: 1;
  }
  &__3 {
    @extend %heading;
    color: $color-primary;
    font-size: 1.6rem;
    text-transform: uppercase;
  }
  &__4 {
    @extend %heading;
    font-size: 1.9rem;
    &--dark {
      color: $color-grey-dark-1;
    }
  }
}
